%%-*- mode: erlang -*-
{deps, [
  {sync,   ".*", {git, "git://github.com/rustyio/sync.git", "HEAD"}},
  {gproc,   ".*", {git, "git://github.com/uwiger/gproc.git", "HEAD"}},
  {ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}},
  {cowlib, ".*", {git, "git://github.com/extend/cowlib.git", "master"}},
  {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.6.0"}  }}
]}.
